In [3]:
import pandas as pd

In [4]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [7]:
df=pd.DataFrame(data,[["a","b","c"]])

In [8]:
df

   calories  duration
a       420        50
b       380        40
c       390        45

In [9]:
df.drop("a",axis=0)

   calories  duration
b       380        40
c       390        45

In [10]:
df

   calories  duration
a       420        50
b       380        40
c       390        45

In [12]:
df.drop('calories',axis=1)

   duration
a        50
b        40
c        45

In [13]:
df

   calories  duration
a       420        50
b       380        40
c       390        45

In [19]:
df.loc['a','duration']

a    50
Name: duration, dtype: int64

In [20]:
df.iloc[0][0]

420

In [21]:
df.iloc[0]

calories    420
duration     50
Name: (a,), dtype: int64