In [1]:
import pandas as pd

In [6]:
import numpy as np
import random

In [9]:
df=pd.DataFrame(np.random.randn(5,4),['A','B','c','D','E'],['w','x','y','z'])

In [10]:
df

          w         x         y         z
A  0.556825  1.055725 -0.741726 -0.458536
B  0.848127  0.349385 -0.184048  1.335753
c  1.833470  0.004192 -0.687588 -0.967405
D  0.216522  0.042133 -0.789478  1.001677
E  1.090621  0.328336 -2.180740  0.503144

In [13]:
df.iloc[0][0]

0.5568249898150923

In [14]:
df.loc['A']['w']

0.5568249898150923

In [20]:
df.iloc[0:2,0:2]

          w         x
A  0.556825  1.055725
B  0.848127  0.349385

In [21]:
df

          w         x         y         z
A  0.556825  1.055725 -0.741726 -0.458536
B  0.848127  0.349385 -0.184048  1.335753
c  1.833470  0.004192 -0.687588 -0.967405
D  0.216522  0.042133 -0.789478  1.001677
E  1.090621  0.328336 -2.180740  0.503144

In [23]:
df[['w','x']]

          w         x
A  0.556825  1.055725
B  0.848127  0.349385
c  1.833470  0.004192
D  0.216522  0.042133
E  1.090621  0.328336

In [25]:
df.describe

<bound method NDFrame.describe of           w         x         y         z
A  0.556825  1.055725 -0.741726 -0.458536
B  0.848127  0.349385 -0.184048  1.335753
c  1.833470  0.004192 -0.687588 -0.967405
D  0.216522  0.042133 -0.789478  1.001677
E  1.090621  0.328336 -2.180740  0.503144>